server:
  port: 19097

spring:
  application:
    name: alert-service

  datasource:
    url: jdbc:postgresql://localhost:5432/alert_db
    username: javaauction
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:19090/eureka/

slack:
  bot:
    token: ${SLACK_BOT_TOKEN}