spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/products/**
        - id: auction-service
          uri: lb://auction-service
          predicates:
            - Path=/api/auctions/**
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
        - id: chat-service
          uri: lb://chat-service
          predicates:
            - Path=/api/chats/**
        - id: alert-service
          uri: lb://alert-service
          predicates:
            - Path=/api/alerts/**

server:
  port: 19091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka
