spring:
  application:
    name: review-service

  datasource:
    url: jdbc:postgresql://localhost:5434/review_db
    username: javaauction
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka

server:
  port: 19098